<link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css" rel="stylesheet">
<div class="nav-bar">
  <div class="row">
    <p class="custom-text"><strong>Football Team Manager</strong></p>
    <div class="col-sm-4">
      <a class="add-player" (click)="onOpenModal(null, 'add')">Add Player<span class="sr-only">(current)</span></a>
    </div>
    <!-- end col -->
  </div>
</div>

<div class="content">

  <div class="container" id="main-container">

    <!-- end row -->
    <div class="row">
      <div class="col-lg-4" *ngFor="let player of players">
        <div class="text-center card-box">
          <div class="member-card pt-2 pb-2">
            <div class="thumb-lg member-thumb mx-auto"><img src="{{player?.imageUrl}}}"
                                                            class="rounded-circle img-thumbnail" alt="profile-image">
            </div>
            <div class="">
              <h4>{{player.name}}</h4>
              <p class="text">Position: {{player?.position}}</p>
              <p class="text">Number: {{player?.number}}</p>
              <p class="text">Birthdate: {{player?.dateOfBirth}}</p>
            </div>
            <button type="button" class="btn btn-primary mt-3 btn-rounded waves-effect w-md waves-light">Show
              statistics
            </button>
          </div>
        </div>
      </div>
      <!-- end col -->
    </div>
    <!-- end row -->
  </div>
  <!-- container -->
</div>

<!-- Modal -->
<div class="modal fade" id="addPlayerModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Modal title</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        ...
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
        <button type="button" class="btn btn-primary">Save changes</button>
      </div>
    </div>
  </div>
</div>
