@import 'https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css';
@import 'https://maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css';

body{
  background:#DCDCDC;
  margin-top:20px;
}
.card-box {
  padding: 20px;
  border-radius: 10px;
  margin-bottom: 30px;
  background-color: #fff;
  width: 80%;
}
.thumb-lg {
  height: 88px;
  width: 88px;
}
.img-thumbnail {
  padding: .25rem;
  background-color: #fff;
  border: 1px solid #dee2e6;
  border-radius: .25rem;
  max-width: 100%;
  height: auto;
}
.text-pink {
  color: #ff679b!important;
}
.btn-rounded {
  border-radius: 2em;
}
.text-muted {
  color: #98a6ad!important;
}
h4 {
  line-height: 22px;
  font-size: 18px;
}
.nav-bar {
  background-color: #fff;
  border-bottom: 1px solid rgba(121, 121, 121, .2);
  box-shadow: 0 2px 4px 0 rgba(121, 121, 121, .2);
  padding: 20px 90px 0px 30px;
  margin-bottom: 20px;
  margin-top: 0px
}
.add-player {
  padding: 5px 10px 7px 10px;
  margin-left: 10px;
  border: none;
  border-radius: 15px;
  cursor: pointer;
  background-color: #DCDCDC;
}
.custom-text {
  margin-top: 1px;
  padding-bottom:7px;
}
.functional-buttons{
  margin-top:15px;
  right:100px;
  top:0px;
  position:absolute;
}
.col-sm-4 {
  margin-top:2px;
}
.input-box {
  width:100%;
  color: #98a6ad;
}
.forms {
  padding: 0% 5% 5% 5%;
}
.stats {
margin-top: 10px;
  padding: 5% 5% 5% 7%;
}
